services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend

  backend:
    build: https://github.com/andreyka/forma-ai-service.git#main
    ports:
      - "8000:8000"
    env_file:
      - .env
